.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 56px;
    width: 74px;
    z-index: 300;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 20px;
}
.home-icon-row, .explore-icon-row, .subscriptions-icon-row, .originals-icon-row, .youtube-music-icon-row,
.library-icon-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    height: 72px;
    flex-shrink: 0;
}
.home-icon, .explore-icon, .subscriptions-icon,
.originals-icon, .youtube-music-icon, .library-icon {
    width: 24px;
}
div {
    font-size: 10px;
    font-weight: 400px;
    white-space: nowrap;
}