body {
  margin: 0;
  margin-top: 2px;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 24px;
  background-color: #f9f9f9;
  height: 3000px;
}

p {
  font-family: roboto, Arial;
  margin: 0;
}