p {
  font-family: Montserrat;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 15px;
}
.product-name {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
}

.mode-of-delivery {
  text-decoration: underline;
}
