p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

div {
  display: inline-block;
  height: 100px;
  width: 300px;
  border: solid;
  border-width: 1px;
  border-color: gray;
  padding-left: 15px;
  padding-bottom: 5px;
  margin: 10px;
}

button {
  cursor: pointer;
}