.friend-box {
  display: inline-block;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
  margin-left: 25px;
  margin-top: 25px;
  padding-bottom: 10px;
  border-radius: 2px;
}

.profile-picture {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: 30% 50%;
  margin-bottom: 8px;
  cursor: pointer;
}

.name {
  font-family: Arial;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 5px;
  margin-left: 10px;
}

.name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.mutual-friends {
  font-family: Arial;
  font-size: 15px;
  color: gray;
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 10px;
}

.add-friend {
  background-color: rgb(0, 119, 255);
  color: white;
  border-style: none;
  padding: 8px 20px;
  border-radius: 2px;
  margin-left: 10px;
  cursor: pointer;
}

