div {
  text-align: center;
}

.logo {
  width: 200px;
  cursor: pointer;
  margin-bottom: 10px;
}

.search-bar {
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 450px;
  border: none;
  border-radius: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
}

.search-button, .lucky-button {
  font-family: Arial;
  border: none;
  padding: 10px 10px;
  margin-right: 8px;
  margin-top: 25px;
  cursor: pointer;
}

.page {
  margin-top: 100px;
}